@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #373B40;
}

header > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #1D8AFF;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.219);

}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
    margin: auto;
}

main > div.xoro {
    background-color: #1D8AFF;
    outline: 1px solid #0e1013;
    height: 150px;
    width: 150px;
    padding-bottom: 5px;
    margin: 5px;
}

div.xoro:hover {
    background-color: #4580BF;
}

section {
    display: block;
    text-align: center;
}

section > p {
    text-align: center;
    color: #4580BF;
    margin: 10px;
}

section > button {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #1D8AFF;
    width: 100px;
    height: 50px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

button:hover{
    background-color: #4580BF;
}

footer {
    text-align: center;
    color: #4E6680;
}