body {
    background-color: #1D1B2A;
    color: white;
    margin: 0 auto;
}

#score {
    text-align: center;
}

#game {
    width: 600px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.258);
    margin: auto;
    background-image: url(image/fundo.png);
    background-size: cover;
}

#dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-image: url(image/dino-scaled.png);
    background-size: cover;
}

#box {
    height: 50px;
    width: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url(image/box.png);
    background-size: cover;
    animation: caixa 1.33s infinite;
}

@keyframes caixa {
    0% {left: 550px;}
    100%{left: -50px;}
}

.jump-animation {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}